Repository animavirtuality/onlybots-core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, /bin/sh -c 'tsc --noEmit', markdown-toc --maxdepth 4 -i

.lintstagedrc.json:

{
    "!*.{js,jsx,ts,tsx}": ["prettier --ignore-unknown --write"],
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
    "*.{ts,tsx}": ["/bin/sh -c 'tsc --noEmit'"],
    "README.md": ["markdown-toc --maxdepth 4 -i"]
}

Reduce toc
  .lintstagedrc.json
  README.md
Due: markdown-toc --maxdepth 4 -i

Remove headers
  README.md
Due: markdown-toc --maxdepth 4 -i

Use bullets
  README.md
Due: markdown-toc --maxdepth 4 -i

Update README.md
  README.md
Due: markdown-toc --maxdepth 4 -i

Add more docs
  README.md
Due: markdown-toc --maxdepth 4 -i

Update metadata format
  CHANGELOG.md
  src/bot.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v1.2.0
  CHANGELOG.md
  package.json
Due: none

Fix name
  CHANGELOG.md
  src/bot.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v1.2.1
  CHANGELOG.md
  package.json
Due: none

Update compression with naive choice
  CHANGELOG.md
  src/__tests__/compressed.ts
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Fix bugs
  README.md
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit', markdown-toc --maxdepth 4 -i

Add better compression algorithm and fix bug
  src/__tests__/compressed.ts
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v2.0.0
  CHANGELOG.md
  package.json
Due: none

Fix bug
  CHANGELOG.md
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Bug fixes
  CHANGELOG.md
  src/__tests__/compressed.ts
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v2.0.1
  CHANGELOG.md
  package.json
Due: none

Update readme and fix bug
  CHANGELOG.md
  README.md
  src/__tests__/compressed.ts
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit', markdown-toc --maxdepth 4 -i

Release v2.0.2
  CHANGELOG.md
  package.json
Due: none

Update name characters
  CHANGELOG.md
  src/__tests__/bits.ts
  src/bits.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v2.1.0
  CHANGELOG.md
  package.json
Due: none

Update names
  README.md
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit', markdown-toc --maxdepth 4 -i

Fix name
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Update example
  README.md
Due: markdown-toc --maxdepth 4 -i

Rename shader to preset
  CHANGELOG.md
  README.md
  src/__tests__/bot.ts
  src/__tests__/compressed.ts
  src/bot.ts
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit', markdown-toc --maxdepth 4 -i

Release v3.0.0
  CHANGELOG.md
  package.json
Due: none

Add name characters
  CHANGELOG.md
  src/__tests__/bits.ts
  src/__tests__/compressed.ts
  src/bits.ts
  src/compressed.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v4.0.0
  CHANGELOG.md
  package.json
Due: none

Make public
  CHANGELOG.md
  package.json
Due: none

Release v4.1.0
  CHANGELOG.md
  package.json
Due: none

Fix scope
  package.json
Due: none

Add metadata fields
  CHANGELOG.md
  src/bot.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v4.2.0
  CHANGELOG.md
  package.json
Due: none

Update metadata
  CHANGELOG.md
  src/bot.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v4.3.0
  CHANGELOG.md
  package.json
Due: none

Remove runtypes
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/__tests__/bot.ts
  src/bot.ts
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Release v4.4.0
  CHANGELOG.md
  package.json
Due: none

Use moduleResolution node16
  jest.config.json
  src/__tests__/bits.ts
  src/__tests__/bot.ts
  src/__tests__/compressed.ts
  src/__tests__/point.ts
  src/__tests__/utils.ts
  src/bot.ts
  src/compressed.ts
  src/index.ts
  src/utils.ts
  tsconfig.json
Due: prettier --write, eslint, /bin/sh -c 'tsc --noEmit'

Update changelog and tweak package.json
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: none
